<page ng-show="nav.isActivePage(1)">
    <div class="jumbotron">
        <img class="portrait" src="media/me.jpg" />
        <h1>Hello, world!</h1>
        <p>
            Welcome to my newly redesigned personal website.
            <br/>
            It's still a work in progress, so please pardon its appearance.
        </p>
    </div>
    <blockquote>
        <p><i class="fa fa-quote-left fa-lg pull-left"></i>My least favorite aspect of Computer Science? Web Development. <i class="fa fa-quote-right fa-lg"></i></p>
        <footer>Me, about a year ago, in a job interview for my current position as a web developer</footer>
    </blockquote>
</page>