<page ng-show="nav.isActivePage(3)">
    <page-header title="Downloads" subtitle="stuff for all"></page-header>
    <download-category title="Research">
        <download-category-description>
            <p>A collection of deliverables from my previous research.</p>
        </download-category-description>
        <download-list>
            <download>
                <strong><download-link title="Mini-Cluster Computing Framework" href="download/f12os_final_project.zip"></download-link></strong>
                <p>A mini-cluster computing framework for Linux programmed in C using <a href="//en.wikipedia.org/wiki/Protocol_Buffers" target="_blank">Google’s Protocol Buffers</a> and <a href="//code.google.com/p/protobuf-c/" target="_blank">third-party C bindings</a> as part of a final group project for an undergraduate class in operating systems</p>
            </download>
        </download-list>
    </download-category>
    <download-category title="Agent Red Productions">
        <download-category-description>
            <p>Mostly functional versions of my game development projects, long since abandoned.</p>
            <p>Each one requires that you have <a href="//store.steampowered.com/about/" target="_blank">Steam</a> and <a href="//steamdb.info/app/218/" target="_blank">Source SDK Base 2007</a> installed. You will be prompted for the latter when attempting to launch one of the mods for the first time through Steam.</p>
        </download-category-description>
        <download-list>
            <download>
                <img src="media/Contingencylogo.png" class="portrait" />
                <strong>Contingency</strong>
                <p>
                    v0.1.5. Use the automated installer unless you're familiar with Source engine mods.
                    <br/>(<download-link title="Automated Installer" href="download/contingency-0.1.5-full-installer.exe"></download-link> or <download-link title="Compressed Archive" href="download/contingency-0.1.5-full-archive.zip"></download-link>)
                </p>
            </download>
            <download>
                <strong>Lethal Stigma</strong>
                <p>
                    <img src="media/LSlogo.png" class="portrait" />
                    v0.1.1. Use the automated installer unless you're familiar with Source engine mods. After installing this, download and install the v0.1.2 patch; there is no standalone automated installer or compressed archive for v0.1.2, sorry.
                    <br/>(<download-link title="Automated Installer" href="download/ls_full_0.1.1.exe"></download-link> or <download-link title="Compressed Archive" href="download/ls_full_0.1.1.zip"></download-link>) and
                    <br/>(<download-link title="Patch Automated Installer" href="download/ls_patch_0.1.2.exe"></download-link> or <download-link title="Patch Compressed Archive" href="download/ls_patch_0.1.2.zip"></download-link>)
                </p>
            </download>
            <download>
                <img src="media/Zmslogo.png" class="portrait" />
                <strong>Situation Outbreak</strong>
                <p>
                    v1.61. After installing this, download and install the client fix automated installer. Sorry, there is no compressed archive available for this one.
                    <br/>(<download-link title="Automated Installer" href="download/sov161full.exe"></download-link> and <download-link title="Client Fix Automated Installer" href="download/sov161clientfix.exe"></download-link>)
                </p>
            </download>
        </download-list>
    </download-category>
</page>