<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container social-icons">
        <ul class="social-icons">
            <social-icon href="mailto:me@jamespizzurro.com" icon="fa-envelope-square"></social-icon>
            ||
            <social-icon href="//www.facebook.com/james.pizzurro" icon="fa-facebook-square"></social-icon>
            <social-icon href="//www.linkedin.com/pub/james-pizzurro/67/211/11b" icon="fa-linkedin-square"></social-icon>
            <social-icon href="//twitter.com/jamespizzurro" icon="fa-twitter-square"></social-icon>
            <social-icon href="//plus.google.com/103780172694821151757" icon="fa-google-plus-square"></social-icon>
            ||
            <social-icon href="//github.com/jamespizzurro" icon="fa-github-square"></social-icon>
            <social-icon href="//play.google.com/store/apps/developer?id=James+Pizzurro" icon="fa-android"></social-icon>
            <social-icon href="//stackoverflow.com/users/1072621/james-pizzurro?tab=profile" icon="fa-stack-overflow"></social-icon>
            ||
            <social-icon href="//www.last.fm/user/madkowa" icon="fa-lastfm-square"></social-icon>
            <social-icon href="//steamcommunity.com/id/angrymoo/" icon="fa-steam-square"></social-icon>
            <social-icon href="//www.youtube.com/user/agentredproductions" icon="fa-youtube-square"></social-icon>
        </ul>
    </div>
</nav>